@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dloxxp');
  src:  url('fonts/icomoon.eot?dloxxp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dloxxp') format('truetype'),
    url('fonts/icomoon.woff?dloxxp') format('woff'),
    url('fonts/icomoon.svg?dloxxp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-logo .path1:before {
  content: "\e900";
  color: rgb(188, 190, 192);
}
.icon-ic-logo .path2:before {
  content: "\e901";
  margin-left: -1.5em;
  color: rgb(102, 255, 204);
}
.icon-ic-logo .path3:before {
  content: "\e902";
  margin-left: -1.5em;
  color: rgb(59, 56, 82);
}
.icon-ic-notifications .path1:before {
  content: "\e903";
  color: rgb(93, 78, 194);
}
.icon-ic-notifications .path2:before {
  content: "\e904";
  margin-left: -0.9169921875em;
  color: rgb(65, 195, 151);
}
.icon-ic-doman:before {
  content: "\e905";
}
.icon-ic-edit .path1:before {
  content: "\e906";
  color: rgb(93, 78, 194);
}
.icon-ic-edit .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(65, 195, 151);
}
.icon-ic-email:before {
  content: "\e908";
}
.icon-ic-excel .path1:before {
  content: "\e909";
  color: rgb(0, 161, 82);
}
.icon-ic-excel .path2:before {
  content: "\e90a";
  margin-left: -1.0498046875em;
  color: rgb(0, 161, 82);
}
.icon-ic-excel .path3:before {
  content: "\e90b";
  margin-left: -1.0498046875em;
  color: rgb(248, 246, 244);
}
.icon-ic-excel .path4:before {
  content: "\e90c";
  margin-left: -1.0498046875em;
  color: rgb(248, 246, 244);
}
.icon-ic-excel .path5:before {
  content: "\e90d";
  margin-left: -1.0498046875em;
  color: rgb(0, 161, 82);
}
.icon-ic-excel .path6:before {
  content: "\e90e";
  margin-left: -1.0498046875em;
  color: rgb(0, 161, 82);
}
.icon-ic-excel .path7:before {
  content: "\e90f";
  margin-left: -1.0498046875em;
  color: rgb(0, 161, 82);
}
.icon-ic-excel .path8:before {
  content: "\e910";
  margin-left: -1.0498046875em;
  color: rgb(0, 161, 82);
}
.icon-ic-excel .path9:before {
  content: "\e911";
  margin-left: -1.0498046875em;
  color: rgb(0, 161, 82);
}
.icon-ic-excel .path10:before {
  content: "\e912";
  margin-left: -1.0498046875em;
  color: rgb(0, 161, 82);
}
.icon-ic-path:before {
  content: "\e913";
  color: #5d4ec2;
}
.icon-ic-phone:before {
  content: "\e914";
}
.icon-ic-search:before {
  content: "\e915";
  color: #665ca7;
}
.icon-ic-text:before {
  content: "\e916";
  color: #5d4ec2;
}
.icon-logo .path1:before {
  content: "\e917";
  color: rgb(59, 56, 82);
}
.icon-logo .path2:before {
  content: "\e918";
  margin-left: -8.7998046875em;
  color: rgb(188, 190, 192);
}
.icon-logo .path3:before {
  content: "\e919";
  margin-left: -8.7998046875em;
  color: rgb(102, 255, 204);
}
.icon-logo .path4:before {
  content: "\e91a";
  margin-left: -8.7998046875em;
  color: rgb(59, 56, 82);
}
.icon-ic-employees:before {
  content: "\e91b";
}
.icon-ic-dashboard .path1:before {
  content: "\e91c";
  color: rgb(93, 78, 194);
}
.icon-ic-dashboard .path2:before {
  content: "\e91d";
  margin-left: -0.9169921875em;
  color: rgb(65, 195, 151);
}
.icon-ic-dashboard .path3:before {
  content: "\e91e";
  margin-left: -0.9169921875em;
  color: rgb(65, 195, 151);
}
.icon-ic-dashboard .path4:before {
  content: "\e91f";
  margin-left: -0.9169921875em;
  color: rgb(93, 78, 194);
}
.icon-ic-people .path1:before {
  content: "\e920";
  color: rgb(65, 195, 151);
}
.icon-ic-people .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(93, 78, 194);
}
.icon-ic-report .path1:before {
  content: "\e922";
  color: rgb(93, 78, 194);
}
.icon-ic-report .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(93, 78, 194);
}
.icon-ic-report .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(93, 78, 194);
}
.icon-ic-report .path4:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(65, 195, 151);
}
.icon-ic-setting .path1:before {
  content: "\e926";
  color: rgb(93, 78, 194);
}
.icon-ic-setting .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(65, 195, 151);
}
.icon-ic-campaign .path1:before {
  content: "\e928";
  color: rgb(65, 195, 151);
}
.icon-ic-campaign .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(93, 78, 194);
}
.icon-ic-company .path1:before {
  content: "\e92a";
  color: rgb(65, 195, 151);
}
.icon-ic-company .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(93, 78, 194);
}
.icon-ic-contact .path1:before {
  content: "\e92c";
  color: rgb(65, 195, 151);
}
.icon-ic-contact .path2:before {
  content: "\e92d";
  margin-left: -0.9580078125em;
  color: rgb(65, 195, 151);
}
.icon-ic-contact .path3:before {
  content: "\e92e";
  margin-left: -0.9580078125em;
  color: rgb(65, 195, 151);
}
.icon-ic-contact .path4:before {
  content: "\e92f";
  margin-left: -0.9580078125em;
  color: rgb(93, 78, 194);
}
.icon-ic-campaign-f:before {
  content: "\e930";
  color: #b7b6c2;
}
.icon-ic-company-f:before {
  content: "\e931";
  color: #b7b6c2;
}
.icon-ic-contact-f:before {
  content: "\e932";
  color: #b7b6c2;
}
.icon-ic-dashboard-f:before {
  content: "\e933";
  color: #b7b6c2;
}
.icon-ic-people-f:before {
  content: "\e934";
  color: #b7b6c2;
}
.icon-ic-report-f:before {
  content: "\e935";
  color: #b7b6c2;
}
.icon-ic-setting-f:before {
  content: "\e936";
  color: #b7b6c2;
}
