@charset "UTF-8";

@font-face {
  font-family: "csm-web";
  src:url("fonts/csm-web.eot");
  src:url("fonts/csm-web.eot?#iefix") format("embedded-opentype"),
    url("fonts/csm-web.woff") format("woff"),
    url("fonts/csm-web.ttf") format("truetype"),
    url("fonts/csm-web.svg#csm-web") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "csm-web" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "csm-web" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-arrow-dropdown:before {
  content: "\61";
}
.icon-ic-detail:before {
  content: "\62";
}
.icon-ic-home:before {
  content: "\63";
}
.icon-ic-logout:before {
  content: "\64";
}
.icon-ic-payment:before {
  content: "\65";
}
.icon-ic-search:before {
  content: "\66";
}
.icon-ic-seat:before {
  content: "\67";
}
.icon-ic-service:before {
  content: "\68";
}
.icon-ic-setting:before {
  content: "\69";
}
